$background-color:#00040E;
$light-color:#ffff;
$gray-color:rgba(199, 199, 199, 0.5);
$light-gray:#C7C7C7;
$gray-dark:#B0B0B0;
$dark-color:#000;
$inner-background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
$max-width: 114rem;